body {
    background-color: #85DCB;
    color: #41B3A3; /* Updated text color */
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
}

h1 {
    color: #00ff00;
    font-size: 2em;
}

h2, h3 {
    color: #00ff00;
    border-bottom: 1px solid #00ff00;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

#intro {
    background-color: #85DCB;
    color: #41B3A3;
}

    #intro a {
        color: #E27D60; /* Updated link color */
    }

    #intro div {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        text-align: justify;
    }

p {
    color: #ccc;
    margin-bottom: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }
